{% extends "components/base.html" %}
{% load static %}

{% block content %}

<style>
    .chat-box {
        height: 300px; /* Ajusta la altura según tu diseño */
        overflow-y: auto; /* Habilita la barra de desplazamiento vertical */
        border: 1px solid #ddd;
        padding: 10px;
        background-color: #f9f9f9;
    }

    .chat-box .messages {
        list-style: none;
        padding: 0;
    }

    .chat-box .messages li {
        padding: 8px;
        border-bottom: 1px solid #ddd;
    }

    .chat-box img {
        display: block;
        margin-top: 10px;
    }
</style>

<section id="chat-photo" class="chat-photo">
    <div class="container">
        <div class="row">

            <div class="col-md-6 chat-section">
                <h2>Chat</h2>
                <div class="chat-box">
                    <div id="messages" class="messages">
                    </div>
                </div>

                <form id ="chatForm" class="chat-form">
                    <div class="form-group">
                        <input id="messageInput" type="text" class="form-control" placeholder="Escribe tu mensaje aquí..." required>
                    </div>
                    <button type="submit" class="btn btn-primary">Enviar</button>
                </form>

            </div>
            
            <!-- Columna para subir o tomar fotos -->
            <div class="col-md-6 photo-section">
                <h2>Subir o Tomar Foto</h2>
                <div class="photo-options">
                    <button class="btn btn-secondary" id="uploadPhoto">Subir Foto</button>
                    <button class="btn btn-secondary" id="takePhoto">Tomar Foto</button>
                    <!-- Aquí puedes agregar formularios o campos para subir fotos -->
                </div>
                <input type="file" id="photoUpload" style="display: none;">
                <div id="camera" style="display: none;">
                    <!-- Aquí puedes integrar un componente de cámara si es necesario -->
                </div>
            </div>
        </div>
    </div>
</section>

<script src = {% static 'assets/js/chatSocket.js/' %}> </script>

{% endblock content %}
