{% extends "components/base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'assets/css/collage.css' %}">
{% endblock extra_css %}
{% block content %}
<div class="container" data-aos="fade-up">
  <div>
  {% if request.user.is_superuser  %}
    <h1>Collage</h1>
  {% else %}
    <h1>Imagen Generada</h1>
  {% endif %}
  </div>

  <div class="button-container">
    <button id="createCollage" class="btn btn-primary">Crear Collage</button>
    <button id="clearData" class="btn btn-danger">Borrar Datos</button>
  </div>

</div>
{% endblock content %}