{% extends "components/base.html" %}
{% load static %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'assets/css/collage.css' %}">
{% endblock extra_css %}
{% block content %}
<div class="container" data-aos="fade-up">
  <div>
    <h1>Collage</h1>
    <div>

      {% if collages %}
        <div class="collage-container">
          {% for collage in collages %}
          <img width="320" heigth="240" src="{{collage}}" alt="collage" class="collage">
          {% endfor %}
        </div>
      {% else %}
        <p>No hay collages</p>
      
      {% endif %}
    </div>
  </div>

  <div class="button-container">
    <a id="logout" href="{% url 'core:logout' %}" class="btn btn-primary">Cerrar sesión</a>
    <a id="clearImg" href="{% url 'core:clearImg' %}" class="btn btn-primary">Borrar collages</a>
    <a id="createCollage" href="{% url 'core:mkcol' %}" class="btn btn-primary">Crear Collage</a>
    <a id="clear" href="{% url 'core:clear' %}" class="btn btn-danger">Borrar Datos</a>
  </div>

</div>
{% endblock content %}
