{% extends "components/base.html" %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container">
    <div class="section-title">
        <h2>{{title}}</h2>
    <div></div>
  </div>
        <h2>Unempic</h2>
        <p>Tu creatividad, Nuestra IA</p>
  </div>    

  </div>
        <form method="POST" enctype="multipart/form-data" class="m-4"> 
            {% csrf_token %}
            {{form|crispy}}
            {% block button %}
            <button class="btn btn-outline-primary" type="submit">Login</button>
            {% endblock button %}
        </form>
  </div>    
</div>
  {% endblock content %}
