{% extends "components/base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'assets/css/home.css' %}">
{% endblock extra_css %}

{% block content %}
<div class="content-wrapper">
    <div class="title-container">
        <h1 class="main-title">UnemPic</h1>
        <p class="subtitle">Tu creatividad, nuestra inteligencia artificial</p>
    </div>
    <div class="Unem-ia">
        <img src="{% static 'assets/img/IA.png' %}" class="card-img-top" alt="Person">
    </div>
</div>
{% endblock content %}
