{% extends "components/base.html" %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}
<link href="{% static 'assets/css/logins.css' %}" rel="stylesheet">
<body>
    <div class="container">
        <div class="text-section">
            <h1>Unempic</h1>
            <p>Tu creatividad, nuestra inteligencia artificial</p>
        </div>
        <div class="login-form">
            <h2>Inicio de sesión</h2>
            <form method="post">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit">Iniciar sesión</button>
            </form>
        </div>
    </div>
</body>
{% endblock content %}
