{% extends "components/base.html" %}
{% load static %}

{% block content %}
<link href="{% static 'assets/css/team.css' %}" rel="stylesheet">
<section id="modules" class="services">
    <div class="container" data-aos="fade-up">
  
      <div class="section-title">
        <h2>Team</h2>
       </div>
    </div>
  </section>
  <div class= "sub-title">
    <h2>equipo de best desarolladorees</h2>
  </div>

  <div class="card-container">
    <!-- Primera fila -->
    <div class="card">
      <div class="card-front">
          <img src="{% static 'assets/img/fotop.jpg' %}" class="card-img-top" alt="Foto de perfil">
          <div class="card-body">
              <h5 class="card-title">Samuel Briones</h5>
          </div>
      </div>
      <div class="card-back">
          <!-- Contenido de la parte posterior de la tarjeta -->
          <div class="card-body">
              <p>Otra información relevante</p>
              <p>Más detalles sobre la persona</p>
          </div>
      </div>
  </div>


    
      <div class="card">
          <div class="card-front">
              <img src="{% static 'assets/img/fotop.jpg' %}" class="card-img-top" alt="Foto de perfil">
              <div class="card-body">
                  <h5 class="card-title">Fiorella Franco</h5>
              </div>
          </div>
          <div class="card-back">
              <!-- Contenido de la parte posterior de la tarjeta -->
              <div class="card-body">
                  <p>nsnsns</p>
                  <p>nsnsns</p>
              </div>
          </div>
      </div>
  

      <div class="card">
        <div class="card-front">
            <img src="{% static 'assets/img/fotop.jpg' %}" class="card-img-top" alt="Foto de perfil">
            <div class="card-body">
                <h5 class="card-title">Alejandro Gomez</h5>
            </div>
        </div>
        <div class="card-back">
            <!-- Contenido de la parte posterior de la tarjeta -->
            <div class="card-body">
                <p>nsnsns</p>
                <p>nsnsns</p>
            </div>
        </div>
    </div>

    <!-- Segunda fila -->
    <div class="card">
      <div class="card-front">
          <img src="{% static 'assets/img/fotop.jpg' %}" class="card-img-top" alt="Foto de perfil">
          <div class="card-body">
              <h5 class="card-title">Willian Macias</h5>
          </div>
      </div>
      <div class="card-back">
          <!-- Contenido de la parte posterior de la tarjeta -->
          <div class="card-body">
              <p>nsnsns</p>
              <p>nsnsns</p>
          </div>
      </div>
  </div>
  <div class="card">
    <div class="card-front">
        <img src="{% static 'assets/img/fotop.jpg' %}" class="card-img-top" alt="Foto de perfil">
        <div class="card-body">
            <h5 class="card-title">Milca Toledo</h5>
        </div>
    </div>
    <div class="card-back">
        <!-- Contenido de la parte posterior de la tarjeta -->
        <div class="card-body">
            <p>nsnsns</p>
            <p>nsnsns</p>
        </div>
    </div>
</div>

<div class="card">
  <div class="card-front">
      <img src="{% static 'assets/img/fotop.jpg' %}" class="card-img-top" alt="Foto de perfil">
      <div class="card-body">
          <h5 class="card-title">Arianna Zuñiga</h5>
      </div>
  </div>
  <div class="card-back">
      <!-- Contenido de la parte posterior de la tarjeta -->
      <div class="card-body">
          <p>nsnsns</p>
          <p>nsnsns</p>
      </div>
  </div>
</div>
  

{% endblock content %}
