{% extends "components/base.html" %}
{% load static %}
{% block content %}
<link href="{% static 'assets/css/team.css' %}" rel="stylesheet">

<div class="container" data-aos="fade-up">
    <h1>Team</h1>
</div>

<div class="card-container">
    <div class="card">
        <div class="card-front">
            <img src="{% static 'assets/img/fotop.jpg' %}" class="card-img-top" alt="Foto de perfil">
            <div class="card-body">
                <h5 class="card-title">Samuel Briones</h5>
            </div>
        </div>
        <div class="card-back">
            <div class="card-body">
                <p>Más detalles sobre la persona</p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-front">
            <img src="{% static 'assets/img/fotop.jpg' %}" class="card-img-top" alt="Foto de perfil">
            <div class="card-body">
                <h5 class="card-title">Fiorella Franco</h5>
            </div>
        </div>
        <div class="card-back">
            <div class="card-body">
                <p>nsnsns</p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-front">
            <img src="{% static 'assets/img/fotop.jpg' %}" class="card-img-top" alt="Foto de perfil">
            <div class="card-body">
                <h5 class="card-title">Alejandro Gomez</h5>
            </div>
        </div>
        <div class="card-back">
            <div class="card-body">
                <p>nsnsns</p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-front">
            <img src="{% static 'assets/img/fotop.jpg' %}" class="card-img-top" alt="Foto de perfil">
            <div class="card-body">
                <h5 class="card-title">Willian Macias</h5>
            </div>
        </div>
        <div class="card-back">
            <div class="card-body">
                <p>nsnsns</p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-front">
            <img src="{% static 'assets/img/fotop.jpg' %}" class="card-img-top" alt="Foto de perfil">
            <div class="card-body">
                <h5 class="card-title">Milca Toledo</h5>
            </div>
        </div>
        <div class="card-back">
            <div class="card-body">
                <p>nsnsns</p>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="card-front">
            <img src="{% static 'assets/img/fotop.jpg' %}" class="card-img-top" alt="Foto de perfil">
            <div class="card-body">
                <h5 class="card-title">Arianna Zuñiga</h5>
            </div>
        </div>
        <div class="card-back">
            <div class="card-body">
                <p>nsnsns</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
