.profile-image {
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.profile-image:hover {
    transform: scale(1.2);
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fff;
    color: #000000;
    z-index: 1000;
    margin-left: 40px;
    margin-top: auto;
}
#footer p {
    margin-top: 10px;
    text-align: center;
    font-size: 13px;
}
